<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE- 2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<head>
  <link href="/css/opennlp.css" rel="stylesheet" type="text/css">
  <title>Apache OpenNLP - {% block title %}{{ headers.title }}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="description" content="Apache OpenNLP is a Java machine learning toolkit for natural language processing (NLP). 
    It supports the most common NLP tasks.">
</head>

<body>
  <div id="banner">
    <img id="opennlp-logo" title="Apache OpenNLP" width="325" height="75" src="/images/onlplogo.jpg" alt="Apache OpenNLP">
	<a href="http://www.apache.org">
		<img id="apache-feather-logo" title="Apache Software Foundation" border="0" width="537" height="51" src="/images/asf_logo_wide.gif" alt="Apache Software Foundation">
	</a>
  </div>

  <div id="navigation">
    {% filter markdown %}{% include "sidenav.mdtext" %}{% endfilter %}
  </div>
  
  <div id="content">
    <h1 class="title">{% block title %}{{ headers.title }}{% endblock %}</h1>
    {% block content %}{{ content|markdown }}{% endblock %}
  </div>
  
  <div class="clear">
    <hr>
  </div>
    
  <div id="footer">
    <div class="copyright">
      <p>
        Copyright &copy; 2010 The Apache Software Foundation, Licensed under 
        the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
        <br>
        Apache OpenNLP, OpenNLP, Apache, the Apache feather logo, and the Apache OpenNLP project logo 
		are trademarks of The Apache Software Foundation. - <a href="/privacy-policy.html">Privacy Policy</a>
      </p>
    </div>
  </div>
</body>
</html>
