# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Set up JDK 8
        uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3.14.1
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: maven-settings-xml-action
        run: echo "<settings xmlns=\"http://maven.apache.org/SETTINGS/1.0.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd\"> <activeProfiles> <activeProfile>github</activeProfile> </activeProfiles> <profiles> <profile> <id>github</id> <repositories> <repository> <id>central-repo</id> <url>https://repo.maven.apache.org/maven2</url> <releases> <enabled>true</enabled> </releases> <snapshots> <enabled>false</enabled> </snapshots> </repository> </repositories> <pluginRepositories> <pluginRepository> <id>central-plugin-repository</id> <url>https://repo.maven.apache.org/maven2</url> <releases> <enabled>true</enabled> </releases> <snapshots> <enabled>false</enabled> </snapshots> </pluginRepository> </pluginRepositories> </profile> </profiles> <servers/> <mirrors/> <pluginGroups/> </settings>" > ~/.m2/settings.xml
      - name: Build with Maven
        run: mvn help:system -U -ntp --batch-mode --show-version --fail-at-end clean install
      - name: basic validations
        run: |
          [ -f target/opennlp-site/index.html  ] && echo 'index.html exist'
          [ -d target/opennlp-site/docs/1.5.3 ] && echo 'docs for 1.5.3 exists'
          [ -d target/opennlp-site/docs/1.6.0 ] && echo 'docs for 1.6.0 exists'
          [ -d target/opennlp-site/docs/1.7.0 ] && echo 'docs for 1.7.0 exists'
          [ -d target/opennlp-site/docs/1.7.1 ] && echo 'docs for 1.7.1 exists'
          [ -d target/opennlp-site/docs/1.7.2 ] && echo 'docs for 1.7.2 exists'
          [ -d target/opennlp-site/docs/1.8.0 ] && echo 'docs for 1.8.0 exists'
          [ -d target/opennlp-site/docs/1.8.1 ] && echo 'docs for 1.8.1 exists'
          [ -d target/opennlp-site/docs/1.8.2 ] && echo 'docs for 1.8.2 exists'
          [ -d target/opennlp-site/docs/1.8.3 ] && echo 'docs for 1.8.3 exists'
          [ -d target/opennlp-site/docs/1.8.4 ] && echo 'docs for 1.8.4 exists'
          [ -d target/opennlp-site/docs/1.9.0 ] && echo 'docs for 1.9.0 exists'
          [ -d target/opennlp-site/docs/1.9.1 ] && echo 'docs for 1.9.1 exists'
          [ -d target/opennlp-site/docs/1.9.2 ] && echo 'docs for 1.9.2 exists'
          [ -d target/opennlp-site/docs/1.9.3 ] && echo 'docs for 1.9.3 exists'
          [ -d target/opennlp-site/docs/1.9.4 ] && echo 'docs for 1.9.4 exists'
          [ -d target/opennlp-site/docs/2.0.0 ] && echo 'docs for 2.0.0 exists'
          [ -d target/opennlp-site/docs/2.1.0 ] && echo 'docs for 2.1.0 exists'
          [ -d target/opennlp-site/docs/2.1.1 ] && echo 'docs for 2.1.0 exists'
          [ -d target/opennlp-site/docs/2.2.0 ] && echo 'docs for 2.2.0 exists'
          [ -d target/opennlp-site/docs/2.3.0 ] && echo 'docs for 2.3.0 exists'
          [ -d target/opennlp-site/docs/2.3.1 ] && echo 'docs for 2.3.1 exists'
          [ -d target/opennlp-site/docs/2.3.2 ] && echo 'docs for 2.3.2 exists'
          [ -d target/opennlp-site/docs/2.3.3 ] && echo 'docs for 2.3.3 exists'
          [ -d target/opennlp-site/docs/2.4.0 ] && echo 'docs for 2.4.0 exists'
          [ -d target/opennlp-site/docs/2.5.0 ] && echo 'docs for 2.5.0 exists'
          [ -d target/opennlp-site/docs/2.5.1 ] && echo 'docs for 2.5.1 exists'
          [ -d target/opennlp-site/docs/2.5.2 ] && echo 'docs for 2.5.2 exists'
          [ -d target/opennlp-site/docs/2.5.3 ] && echo 'docs for 2.5.3 exists'
          [ -d target/opennlp-site/docs/2.5.4 ] && echo 'docs for 2.5.4 exists'
          [ -d target/opennlp-site/docs/2.5.5 ] && echo 'docs for 2.5.5 exists'
          [ -d target/opennlp-site/docs/2.5.6 ] && echo 'docs for 2.5.6 exists'
          [ -d target/opennlp-site/docs/2.5.6.1 ] && echo 'docs for 2.5.6.1 exists'
          [ -d target/opennlp-site/docs/2.5.7 ] && echo 'docs for 2.5.7 exists'
          [ -d target/opennlp-site/docs/3.0.0-M1 ] && echo 'docs for 3.0.0-M1 exists'